@import url("https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap");

a {
	color: black !important;
}

.brand-logo,
h2 {
	font-family: "Grand Hotel", cursive;
}
.mycard {
	margin-top: 30px;
}
.auth-card {
	padding: 20px;
	text-align: center;
	max-width: 400px;
	margin: 10px auto;
}
/* label underline focus color */
.input-field input[type="text"]:focus {
	border-bottom: 1px solid rgb(8, 93, 252) !important;
	box-shadow: 0 1px 0 0 rgb(8, 93, 252) !important;
}
